{% extends 'layouts/application.html' %}
{% block content %}


<div class="zn-page home">
    <div class="section-highlights">
        <div class="container">
            {% raw %}
            <section-title icon="fa fa-pencil" title="Highlights"></section-title>
            {% endraw %}
            <div class="top">
                <div class="owl-carousel owl-theme slider js-slider">
                    <div class="item">
                        <img src="https://images-3.gog.com/fcd19ff386dbde8ab66a35ff7b889062beb5162150d2dd136ac8472df5842121_bs_background_1275.jpg"
                             alt="slide">
                    </div>
                    <div class="item">
                        <img src="https://images-1.gog.com/b3daf031419860e7a1291eef662a32257ce63e170d2ce0573a880d530d0dff67_bs_background_1275.jpg"
                             alt="slide">
                    </div>
                    <div class="item">
                        <img src="https://images-3.gog.com/69fc6e742826ff8c32caa1173d1bf0ea7dc399dd0228ca542d7c4fc58c60fb56_bs_background_1275.jpg"
                             alt="slide">
                    </div>
                    <div class="item">
                        <img src="https://images-4.gog.com/306e486308dc03c1f3a749124d625406029d0d1ace4e492e5e759b5c28c8c2b2_bs_background_1275.jpg"
                             alt="slide">
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="list">
                    <div class="row">
                        {% for i in range(0, 4) -%}
                        <div class="col-md-3">
                            <a href="#" class="zn-card basic">
                                <div class="img">
                                    <img class="js-img-ex" src="../uploads/game1.jpg" alt="game">
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <span>Driftland: The Magic Revival</span>
                                    </div>
                                    <div class="info">
                                        <div class="platform">
                                            <i class="fa fa-windows icon" aria-hidden="true"></i>
                                        </div>
                                        <div class="price">
                                            <div class="discount">-40%</div>
                                            <div class="current-price">
                                                $ 17.99
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-btn">
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {%- endfor %}
                    </div>
                </div>
            </div>
            <div class="bottom">

            </div>


        </div>
    </div>
    <div class="section-good">
        <div class="container">
            {% raw %}
            <section-title icon="fa fa-star" title="What's good?"></section-title>
            {% endraw %}
            <div class="inner">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <a href="#" class="zn-card basic auto-height js-auto-height">
                            <div class="img">
                                <img class="js-img-ex" src="../uploads/game1.jpg" alt="game">
                            </div>
                            <div class="body">
                                <div class="title">
                                    <span>Driftland: The Magic Revival</span>
                                </div>
                                <div class="info">
                                    <div class="platform">
                                        <i class="fa fa-windows icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="price">
                                        <div class="discount">-40%</div>
                                        <div class="current-price">
                                            $ 17.99
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-btn">
                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <a href="#" class="zn-card basic">
                                    <div class="img">
                                        <img class="js-img-ex" src="../uploads/game1.jpg" alt="game">
                                    </div>
                                    <div class="body">
                                        <div class="title">
                                            <span>Driftland: The Magic Revival</span>
                                        </div>
                                        <div class="info">
                                            <div class="platform">
                                                <i class="fa fa-windows icon" aria-hidden="true"></i>
                                            </div>
                                            <div class="price">
                                                <div class="discount">-40%</div>
                                                <div class="current-price">
                                                    $ 17.99
                                                </div>
                                                <div class="add-to-cart">
                                                    <button class="add-btn">
                                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a href="#" class="zn-card basic">
                                    <div class="img">
                                        <img class="js-img-ex" src="../uploads/game1.jpg" alt="game">
                                    </div>
                                    <div class="body">
                                        <div class="title">
                                            <span>Driftland: The Magic Revival</span>
                                        </div>
                                        <div class="info">
                                            <div class="platform">
                                                <i class="fa fa-windows icon" aria-hidden="true"></i>
                                            </div>
                                            <div class="price">
                                                <div class="discount">-40%</div>
                                                <div class="current-price">
                                                    $ 17.99
                                                </div>
                                                <div class="add-to-cart">
                                                    <button class="add-btn">
                                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <a href="#" class="zn-card basic">
                                    <div class="img">
                                        <img class="js-img-ex" src="../uploads/game1.jpg" alt="game">
                                    </div>
                                    <div class="body">
                                        <div class="title">
                                            <span>Driftland: The Magic Revival</span>
                                        </div>
                                        <div class="info">
                                            <div class="platform">
                                                <i class="fa fa-windows icon" aria-hidden="true"></i>
                                            </div>
                                            <div class="price">
                                                <div class="discount">-40%</div>
                                                <div class="current-price">
                                                    $ 17.99
                                                </div>
                                                <div class="add-to-cart">
                                                    <button class="add-btn">
                                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a href="#" class="zn-card basic">
                                    <div class="img">
                                        <img class="js-img-ex" src="../uploads/game1.jpg" alt="game">
                                    </div>
                                    <div class="body">
                                        <div class="title">
                                            <span>Driftland: The Magic Revival</span>
                                        </div>
                                        <div class="info">
                                            <div class="platform">
                                                <i class="fa fa-windows icon" aria-hidden="true"></i>
                                            </div>
                                            <div class="price">
                                                <div class="discount">-40%</div>
                                                <div class="current-price">
                                                    $ 17.99
                                                </div>
                                                <div class="add-to-cart">
                                                    <button class="add-btn">
                                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-games">
        {% raw %}
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="discover">

                        <section-title icon="fa fa-compass" title="Discover games"></section-title>

                        <div class="inner">

                            <!--                            TAB start-->


                            <ul class="nav nav-pills mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#best-tab" role="tab">Bestselling</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#new-tab" role="tab">New</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#upcoming-tab" role="tab">Upcoming</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="best-tab" role="tabpanel">
                                    <ul class="list">
                                        <li class="item" v-for="item in gameList">
                                            <card-product :title="item.company.catchPhrase"
                                                          :price="item.id"></card-product>
                                        </li>
                                    </ul>

                                </div>
                                <div class="tab-pane fade" id="new-tab" role="tabpanel">
                                    <ul class="list">
                                        <li class="item" v-for="item in gameList">
                                            <card-product :title="item.company.catchPhrase"
                                                          :price="item.id"></card-product>
                                        </li>
                                    </ul>

                                </div>
                                <div class="tab-pane fade" id="upcoming-tab" role="tabpanel">
                                    <ul class="list">
                                        <li class="item" v-for="item in gameList">
                                            <card-product :title="item.company.catchPhrase"
                                                          :price="item.id"></card-product>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <!--                            TAB end-->


                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="featured">
                        <section-title icon="fa fa-space-shuttle" title="Featured"></section-title>
                        <div class="inner">
                            <ul class="list">
                                <li class="item w-100"><a href="#"><img class="img h4 w2 js-img-ex"
                                                                        src="../uploads/game1.jpg" alt="game"></a></li>
                                <li class="item">
                                    <a href="#"> <img class="img js-img-ex" src="../uploads/game1.jpg" alt="game"></a>
                                    <a href="#"> <img class="img js-img-ex" src="../uploads/game1.jpg" alt="game"></a>
                                </li>
                                <li class="item"><a href="#"> <img class="img h4 js-img-ex" src="../uploads/game1.jpg"
                                                                   alt="game"></a></li>
                                <li class="item"><a href="#"> <img class="img js-img-ex" src="../uploads/game1.jpg"
                                                                   alt="game"></a></li>
                                <li class="item"><a href="#"> <img class="img js-img-ex" src="../uploads/game1.jpg"
                                                                   alt="game"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endraw %}
    </div>
    <div class="section-news">
        <div class="container">
            {% raw %}
            <section-title icon="fa fa-newspaper-o" title="News"></section-title>
            {% endraw %}
            <div class="inner">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="zn-card news js-img-ex js-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="info">
                                <h3 class="title">Cooking Simulator Screenshot Contest</h3>
                                <span class="comment"><i class="fa fa-comment" aria-hidden="true"></i> 7</span>
                                <span class="time">yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="zn-card news js-img-ex js-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="info">
                                <h3 class="title">Decay of Logos</h3>
                                <span class="comment"><i class="fa fa-comment" aria-hidden="true"></i> 45</span>
                                <span class="time">yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="zn-card news js-img-ex js-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="info">
                                <h3 class="title">Head back to class with the Back to School sale!</h3>
                                <span class="comment"><i class="fa fa-comment" aria-hidden="true"></i> 61</span>
                                <span class="time">yesterday</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
