$global-font: 'IBM Plex Sans', sans-serif;
$color-facebook: rgb(66, 103, 178);
$color-github: rgb(36, 41, 45);
$color-google: rgb(220, 78, 65);
$navbar-height: 72px;
$card-explore-border-black: rgb(102, 102, 102);
$card-explore-border-green: rgb(127, 223, 117);
$card-explore-border-hover: rgb(0, 0, 0);
$card-explore-transition: 300ms;
$color-red:#ed1936;
$color-black: #000;
